.spin {
    -webkit-transition: all 3s ease-out;
    display:inline-block;
    width: 40%;
}
.spin:hover {
    -webkit-transform: rotate(0deg);
}

.LaBotellita-h1{
    background-color: rgba($color: #E4AD7B, $alpha: .9);
}

.pSpin{
    background-color: rgba($color: #54557A, $alpha: .9);
}