.perfil-h1{
    background-color: rgba($color: rgb(255, 138, 210), $alpha: .9);
}

.bg-transparent-pink-1{
    background-color: rgba($color: #97266d, $alpha: .9);
}

.bg-transparent-red-1{
    background-color: rgba($color: #fed7d7, $alpha: .9);
}