.VerdadRetoOpcionBody__body-option{
    background-color: rgba($color: rgb(255, 255, 255), $alpha: .9);
}

.VerdadRetoOpcionBody-h1{
    background-color: rgba($color: #FFFC19, $alpha: .9);
}

.VerdadRetoOpcionBody__suave{
    background-color: rgba($color: #00B333, $alpha: .9);
}

.VerdadRetoOpcionBody__picante{
    background-color: rgba($color: #FF1919, $alpha: .9);
}