.VerdadRetoBody__suave-button{
    background: rgb(255,111,252);
    background: -moz-linear-gradient(0deg, rgba(255,111,252,1) 0%, rgba(0,159,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,111,252,1) 0%, rgba(0,159,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,111,252,1) 0%, rgba(0,159,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6ffc",endColorstr="#009fff",GradientType=1);
}

.VerdadRetoBody__picante-button{
    background: rgb(255,0,0);
    background: -moz-linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(241,255,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(241,255,0,1) 100%);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(241,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#f1ff00",GradientType=1);
}