body{
    background-color: #0D5D80;
}
#carga{
    position: absolute;
    top:0;
    left:0;
    z-index: 1031;
}
#iCarga{
    z-index: 1032;
}
#bottle{
    color:white;
}
.border {
    border-width:3px !important;
}