@import './Fonts.scss';
@import './Vars.scss';

html, body, #app, .App{
    font-family: 'Walter Turncoat Regular';
    background-color: cornsilk;
    top: 0;
    left: 0;
}

.App{
    background-image: url('../static/palmera.png');
    background-repeat: round;
}

/*.App{
    position: relative;
}

.App::after{
    content: "";
    background: url('../static/palmera.png');
    background-repeat: round;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}*/

.bg-black-transparent{
    background-color: rgba($color: #000000, $alpha: .8);
}

.bg-transparent-black-strong{
    background-color: rgba($color: black, $alpha: 0.9);
}

.bg-white-transparent{
    background-color: rgba($color: #ffffff, $alpha: .9);
}

button:focus,
button:hover,
a:focus,
a:hover{
    outline:none;
}
/*Era algo asi, buscar*/