@import './Fonts.scss';
@import './Vars.scss';

html, body{
    font-family: 'Walter Turncoat Regular';
    background-color: cornsilk;
    top: 0;
    left: 0;
}

.App{
    background-color: #1a202c;
    width: 100%; height: 100%;
    position: relative;
    background-repeat: space;
    background-size: 26% 19%;
    background-image: url("../static/toilet-paper2.svg");
}

.App::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-repeat: space;
    background-size: 26% 19%;
    background-image: url("../static/toilet-paper2.svg");
    filter: opacity(50%);
  }

.bg-black-transparent{
    background-color: rgba($color: #000000, $alpha: .8);
}

.bg-transparent-black-strong{
    background-color: rgba($color: black, $alpha: 0.9);
}

.bg-white-transparent{
    background-color: rgba($color: #ffffff, $alpha: .9);
}

button:focus,
button:hover,
a:focus,
a:hover{
    outline:none;
}
/*Era algo asi, buscar*/